<html>
<head>
</head>
<body>
  <!-- login form -->
  <!-- user_id, user_pwd -->
  <!-- log in(submit), cancel(back) button -->
  <div id="frame">
    <form action="/inputv" method="post">
      <table>
        <tr>
          <td>name <input type="text" name="name"></td>
        </tr>
        <tr>
          <td>zone <input type="text" name="zone"></td>
        </tr>
        <tr>
          <td>start <input type="text" name="start"></td>
        </tr>
        <tr>
          <td>end <input type="text" name="end"></td>
        </tr>
        <tr>
          <td>waiting <input type="text" name="waiting"></td>
        </tr>
        <tr>
          <td>x <input type="text" name="x"></td>
        </tr>
        <tr>
          <td>y <input type="text" name="y"></td>
        </tr>
        <tr>
          <td>tall <input type="text" name="tall"></td>
        </tr>
        <tr>
          <td>index <input type="text" name="index"></td>
        </tr>
        <tr>
          <td><button type="submit">저장</button></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>
