<html>
<head>
</head>
<body>
  <!-- login form -->
  <!-- user_id, user_pwd -->
  <!-- log in(submit), cancel(back) button -->
  <div id="frame">
    <form action="/inpute" method="post">
      <table>
        <tr>
          <td>index <input type="text" name="index"></td>
        </tr>
        <tr>
          <td>distance <input type="text" name="distance"></td>
        </tr>
        <tr>
          <td>index1 <input type="text" name="index1"></td>
        </tr>
        <tr>
          <td>index2 <input type="text" name="index2"></td>
        </tr>
        <tr>
          <td><button type="submit">저장</button></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>
